/* navbar */
#navbar{
    flex-direction: column;
}

/* home section */
#home{
    height: 280px;

}
#home::before{
    height: 280px;

}
/*services section */
#services{

}
#services.box{
    flex-direction: column;

}
/* client section */
#clients{
    overflow: hidden;
}


/* contact section */

/* footer */